
@{
    ViewBag.Title = "NotRegistered";
    Layout = "~/Views/Shared/voters.cshtml";
}

<h2>Not Registered!</h2>
<p>This software is not an open source software, you have to be registered before voting</p>
<img src="~/Content/Images/stpp.jpg" />

